<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<title>Capecci Communications</title>
	<link href="./lib/slick/slick.css" rel="stylesheet" type="text/css" />
	<link href="./css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="checkerboard-"></div>
	<header data-action="shyHeader" id="header" class="is-fixed is-transparent">
		<div class="navbar">
			<a class="logo" data-action="scrollJump" data-target="#hero">
				<img src="./img/capecci_logo.svg" alt="Capecci Communications" />
			</a>
			<a class="navbar-toggle" data-action="toggleNav" data-target="#navbar-main"></a>
			<ul id="navbar-main">
				<li><a data-action="scrollJump" data-target="#presentation" class="editable">HOW</a></li>
				<li><a data-action="scrollJump" data-target="#capecci" class="editable">CAPECCI</a></li>
				<li><a data-action="scrollJump" data-target="#works" class="editable">WORKS</a></li>
				<li><a data-action="scrollJump" data-target="#contact" class="button editable">CONTACT</a></li>
			</ul>
		</div>
	</header>